.home__pageContainer {
 display: flex;
 flex-direction: column;
}

.home__firstContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.textOne__content {
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  width: 15rem;
  margin: 1rem;
  line-height: normal;
  color: #60492c;
}

.home__secondContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home__thirdContainer {
  grid-row: 2;
  grid-column: 2/3;
}